body {background-color: red; font-family: "Arial Black", sans-serif; font-weight: bold }
h1 {background-color: orangered; text-align: center; font-size: 50px; color: goldenrod; -webkit-text-stroke: 2px crimson;outline: gold 8px solid;}
label[for="textInput"] {display:block;text-align: center; font-size:35px; color: goldenrod;}
input#textInput {display:block;margin: 10px auto;width:600px; height: 50px; font-size: 28px; text-align: center;}
table {width:100%;}
th, td {text-align: center;}
th {background-color: goldenrod;}
td {background-color: darkgoldenrod; font-weight: lighter; font-family: Arial}
img {border: 5px solid goldenrod; width: 550px;}
.image-text-combo {
    display: flex;
    align-items: center;
    gap: 20px;
}

